/* 
 * Fix carousel
 */
.pac-item{
    white-space: normal !important;
}
.hidden-info{
    display: none;
 }
#formInfo .has-error label{
    color: #a94442;
}
.color-red{
    color: red;
}
.dieukhoan{
    margin-top: 20px;
}
.dieukhoan a{
    color: #337ab7;
}
.hand{
    cursor: pointer;
 }
.banner-d{
    background: url('../imgs/banner.jpg') no-repeat; background-size: cover;padding-top: 8px;
}
.color-fff{
    color: #fff;
}
#loading-bar .bar {
    background: red;
    height: 2px;
}
#slide .btn-default{
    border-radius: 0px;
    margin-top: 5px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
    display: none !important;
}
.fix-pos{
    position: initial !important;
    padding-top: 0px !important;
}
.time-select{
    width: 217px !important;
}
#carouselCar .carousel-indicators {
	text-align: center;
}
#carouselCar .carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: 0px;
    cursor: pointer;
    background: none;
    border: 0px solid #fff;
    border-radius: 0px;
}
#carouselCar .carousel-indicators li:not(:last-child) {
    padding-right: 120px;
}
#carouselCar .carousel-indicators li .circle{
	display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #168ccc;
    border: 1px solid #168ccc;
    border-radius: 10px;
    margin-right: 10px;
}
#carouselCar .carousel-indicators .active {
    color: #168ccc;
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: 0px;
    cursor: pointer;
    background: none;
    border: 0px solid #fff;
    border-radius: 0px;
}
.margin-50{
    margin-top: 50px;
}
#carouselCar .carousel-indicators{
	top: -40px;
}
/*  */
.why{
	font-size: 25px;
	text-align: center;
	margin: 0px;
	margin-bottom: 50px;
}
.text-justify{
	text-align: justify;
}
.font-16{
	font-size: 16px;
}
.icon-q img{
	height: 37px;
}
.carousel-title{
	font-size: 25px;
	text-align: center;
	margin: 0px;
	margin-top: 70px;
	margin-bottom: 60px;
}
.car-cap{
	font-size: 25px;
	color: #000;
}
#carouselCar .carousel-caption{
	position: unset;
	text-shadow: none;
}
.info-car{
	text-align: center;
	color: #000;
	font-size: 18px;
	margin-top: 30px;
}
.info-car span{
	display: inline-block;
}
.info-car span:not(:last-child){
	padding-right: 100px;
}
#content-d{
	padding-top: 100px;
	padding-bottom: 45px;
}
/*===================================*/
#language-bar, #footer-copyright { 
    background-color: #13254b;     
    padding: 1px;
}
#language-bar a{ 
    margin-right: 10%;
    color: white;
}

#title-bar, #footer-logobar { 
    background-color: #2aa8e2;
    /*padding: 10px;*/
}

#title-bar img { 
    margin-right: 8px;
    margin-left: 10px;
}

#step-bar { 
    background-color: #d9d9d9;
}
footer{
	padding-top: 10px;
}
#footer-logobar .container{
	padding-bottom: 10px;
}
#step-bar .step{ 
    line-height: 89px;
    height: 89px;
    font-size: 20px;
}

#step-bar .step.active{ 
    background-image: url('../images/tab-arrow.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

#contacts { 
    padding-top: 60px;
}

#contacts a{ 
    background: #13254b;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    margin: 8px;
}

#contacts i{ 
    font-size: 15px;
    line-height: 27px;
    color: white;
}

.btn-xl { 
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-hntrans { 
    color: white;
    border-radius: 0;
    background-color: #168ccc;
}

.thank-message {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.payment-box {
    margin-top: 55px;
    margin-bottom: 55px;
}

.payment-checkbox {
    font-size: 20px;
    
}

.payment-checkbox label {
    font-weight: 500;    
}

/* Base for label styling */
[type="checkbox"] {
    border-color: grey;
    border-radius: 0;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: -7px;
    left: 3px;
    font-size: 1.8em;
    line-height: 0.8;
    color: #168ccc;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

footer { 
    color: white;
}

/*=================================*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #275cab;
    border-bottom-color: #275cab;
    z-index: 1001;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #37B955;
    border-bottom-color: #37B955;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f47b20;
    border-bottom-color: #f47b20;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.loader-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1001;
    opacity: 1;
    visibility: visible;
}
.loader-logo img {
    max-width: 100%;
    width: 99.99%;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
    opacity: 0.7;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#loader-wrapper .loader-section.section-right {
    right: 0;
    opacity: 0.7;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
/*flag*/
.hover{
    cursor: pointer;
}
.flag-select{
    position: absolute;
    z-index: 9;
    background: #fff;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #ddd;
    top: 33px;
    left: 0px;
}
.flag-select ul{
    padding: 0px;
    max-height: 200px;
    overflow-y: scroll;
}
.flag-select ul li{
    margin-bottom: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
}
.flag-select ul li:hover{
    background: #ddd;
}