/*
 * fix mobile
 */
#slide, .banner-d{
	min-height: 537px;
}
.banner-d{
	padding-top: 50px;
}
.fix-1x{
	padding-left: 14px !important;
}
.pad-r-5{
	padding-right: 5px;
}
.timeSelect{
    width: 125px !important;
}
@media screen and (max-width: 1319px){
	#slide .form-inline .timeSelect{
	    width: 49.2% !important;
	}
}
@media screen and (max-width: 1199px) {
    #slide .form-inline .form-control, #slide .form-inline .form-group, #slide .form-inline .form-group .input-group{
		width: 100% !important;
	}
	#slide .form-inline .timeSelect{
	    width: 49.2% !important;
	}
	#carouselCar .carousel-indicators li:not(:last-child){
		padding-right: 20px;
	}
	.fix-2x{
		padding-left: 14px !important;
	}
	#contacts {
	    padding-top: 8px;
	}
	#slide, .banner-d{
	    height: 720px;
	}
}
@media screen and (max-width: 992px){
	#slide .nav-tabs>li{
		font-size: 15px;
	}
	#car_2 .text-left{
		font-size: 15px;
	}
	#slide .text-usd{
		font-size: 18px;
	}
	#slide .usd{
		font-size: 18px;
	}
	#step-bar .step.active{
		background: none;
		color: #000;
		display: block;
	}
	#step-bar .step{
		display: none;
	}
	.hidden-mobile{
		display: none;
	}
	#fix-mobile .pull-right{
		float: left !important;
	}
}
@media screen and (max-width: 843px){
	#slide, .banner-d{
		height: 796px;
	}
}
@media screen and (max-width: 766px){
	.timeZone{
		margin-top: -12px !important;
	}
}
@media screen and (max-width: 669px){
	.font-mobile{
		font-size: 14px !important;
	}
	#carouselCar .carousel-indicators{
		display: none;
	}
	.book-info-from{
		display: block;
	}
	.book-info-to{
		display: block;
		margin-left: 0px;
	}
	
}

@media screen and (max-width: 486px){
	#head-logo .text-size{
		font-size: 22px;
	}
	#slide .radio{
		text-align: left;
    	padding-left: 20px;
	}
}
@media screen and (max-width: 360px){
	#slide .form-inline .timeSelect{
	    width: 49% !important;
	}
}
